.viewBtn {
  margin-right: 15px;
}
.editBtn {
  margin-right: 15px;
}
.viewDetailsBtn {
  color: #1b365d !important;
  text-decoration: none !important;
}
.bgColor,
.addNoteBtn {
  background-color: #1b365d !important;
}
.addNoteBtn :hover {
  background-color: #1b365d !important;
}
