#headerComponent {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 80px;
    width: 100%;
    /* background-color: #B2D4EF; */
    background-color: #2E2634;
}

#headerComponent ul {
    list-style-type: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
}

#headerComponent ul a {
    font-size: 1rem;
    padding: 1em; /* Adjust the padding as needed */
    text-decoration: none;
    color: white;
    margin: 0 0.5em; /* Add spacing between links */
}
#headerComponent nav ul a.active{
    text-decoration: underline;
}
